/PRD - Sesion 3/PRD - Sesion 3/build/
/PRD - Sesion 3/PRD - Sesion 3/dist/
/Teoria/Exercicis - Tema 2 Funcions/build/
/Teoria/Exercicis - Tema 2 Funcions/dist/
/Exemple Swap/dist/
/Exemple Swap/build/
/PRD - Sesion 4/PRD - Sesion 4/build/
/PRD - Sesion 4/PRD - Sesion 4/dist/
/PRD - Sesion 5/PRD - Sesion 5/build/
/PRD - Sesion 5/PRD - Sesion 5/dist/
/Teoria/Teoria tema 3/build/
/Teoria/Teoria tema 3/dist/
/Teoria/linked_list/build/
/Teoria/linked_list/dist/
/Teoria/Tema_4/stack/dist/
/Teoria/Tema_4/stack/build/
/PRD - Sesion 6/PRD_Sesio_6/build/
/PRD - Sesion 6/PRD_Sesio_6/dist/
/Teoria/Tema_4/queue/build/
/Teoria/Tema_4/queue/dist/
/Teoria/Tema_4/hastable/build/
/Teoria/Tema_4/hastable/dist/
/Teoria/Tema_5/Tema_5/build/
/Teoria/Tema_5/Tema_5/dist/
/Examens finals/PRD-ExamensLaboratori/Enunciats/PRD_L11_2022_2023/PRD_lab22_23_L11/build/
/Examens finals/PRD-ExamensLaboratori/Enunciats/PRD_L11_2022_2023/PRD_lab22_23_L11/dist/
/Examens finals/PRD-ExamensLaboratori/Enunciats/PRD_L11_2023_2024/PRD_lab23_24_L11/build/
/Examens finals/PRD-ExamensLaboratori/Enunciats/PRD_L11_2023_2024/PRD_lab23_24_L11/dist/
/Examens finals/PRD-ExamensLaboratori/Solucions/PRD_L11_2022_2023/PRD_lab22_23_L11/build/
/Examens finals/PRD-ExamensLaboratori/Solucions/PRD_L11_2022_2023/PRD_lab22_23_L11/dist/
/Examens finals/PRD-ExamensLaboratori/Solucions/PRD_L11_2023_2024/PRD_lab23_24_L11/build/
/Examens finals/PRD-ExamensLaboratori/Solucions/PRD_L11_2023_2024/PRD_lab23_24_L11/dist/
/Teoria/Tema_5/Tema_5_Finals/dist/
/Teoria/Tema_5/Tema_5_Finals/build/
/Examens finals/Examens finals/Problema 2 - Primavera 2023/Problema_2/build/
/Examens finals/Examens finals/Problema 2 - Primavera 2023/Problema_2/dist/
/Examens finals/Examens finals/Problema 2 - Finals memoria dinamica/Problema_2/build/
/Examens finals/Examens finals/Problema 2 - Finals memoria dinamica/Problema_2/dist/
