/PRD - Sesion 3/PRD - Sesion 3/build/
/PRD - Sesion 3/PRD - Sesion 3/dist/
/Teoria/Exercicis - Tema 2 Funcions/build/
/Teoria/Exercicis - Tema 2 Funcions/dist/
/Exemple Swap/dist/
/Exemple Swap/build/
/PRD - Sesion 4/PRD - Sesion 4/build/
/PRD - Sesion 4/PRD - Sesion 4/dist/
/PRD - Sesion 5/PRD - Sesion 5/build/
/PRD - Sesion 5/PRD - Sesion 5/dist/
/Teoria/Teoria tema 3/build/
/Teoria/Teoria tema 3/dist/
/Teoria/linked_list/build/
/Teoria/linked_list/dist/
/Teoria/Tema_4/stack/dist/
/Teoria/Tema_4/stack/build/
/PRD - Sesion 6/PRD_Sesio_6/build/
/PRD - Sesion 6/PRD_Sesio_6/dist/
/Teoria/Tema_4/queue/build/
/Teoria/Tema_4/queue/dist/
